.grow {
  flex-grow: 1;
}
@media only screen and (min-width: 960px) {
  .sectionDesktop {
    display: "none";
  }
}

@media only screen and (min-width: 600px) {
  .sectionMobile {
    display: "flex";
  }
}
